body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.4em;
  background-color: rgb(10, 10, 145);
}

#result-display {
  background-color: silver;
  border-radius: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  font-size: 3.6rem;
  text-align: end;
}

#result-value {
  margin: 0.2em 0;
  padding-right: 0.1em;
}

#buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
}

.number-btn,
.operator-btn,
.utility-btn {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 5rem;
  width: 5rem;
  border-style: none;
}

.number-btn,
.utility-btn {
  font-size: 2rem;
}

.operator-btn {
  font-size: 3.5rem;
  color: black;
  background-color: lightgray;
}

.number-btn {
  color: white;
  background-color: black;
}

.utility-btn {
  color: black;
  background-color: darkorange;
}

#backspace-btn {
  font-size: 3rem;
}

.number-btn:hover,
.operator-btn:hover,
.utility-btn:hover {
  font-weight: 600;
  transition: font-weight 0.15s;  
  cursor: pointer;
}

.number-btn:hover {
  background-color: rgb(26, 26, 26);
  transition: background-color 0.15s;  
}

.operator-btn:hover {
  background-color: rgb(235, 235, 235);
  transition: background-color 0.15s;  
}

.utility-btn:hover {
  background-color: orange;
  transition: background-color 0.15s;  
}
